.rangeslider-horizontal {
  position: absolute;
  bottom: 8vh;
  width: 30vw;
  margin-left: 35vw;
  height:20px;
}
.rangeslider-horizontal .rangeslider__handle:after {
	visibility: hidden;
 }
.rangeslider-horizontal .rangeslider__handle {
	outline: none;
	height: 45px;
	width: 45px;
}

.rangeslider-horizontal .rangeslider__fill {
	background-color: #3498db;
}

.datetime {
	position: absolute;
	margin: 10px 0px 0px 10px;
	top: 1vh;
	color: white;
	font-family: monospace;
}

.datetime .date {
	font-size: 1.4em;
}

.datetime .time {
	font-size: 1.8em;
}
